<section class="header-section">
  <h2 class="content-block">Producers</h2>

  <nav class="header-menu">
    <ul>
      <li>
        <a routerLink="/clients/producers/new"><dx-button text="New" icon="add"></dx-button></a>
      </li>
      <li>
        <a routerLink="/"><dx-button text="Edit" icon="edit"></dx-button></a>
      </li>
      <li>
        <a routerLink="/"><dx-button text="Import" icon="import"></dx-button></a>
      </li>
      <li>
        <a routerLink="/"><dx-button text="Export Excel" icon="exportxlsx"></dx-button></a>
      </li>
    </ul>
  </nav>
</section>

<main>
  <router-outlet></router-outlet>
</main>

<dx-data-grid
  class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxi-column [allowSearch]="false"></dxi-column>

  <dxi-column dataField="Task_ID" [width]="90" [hidingPriority]="2">
  </dxi-column>
  <dxi-column
    dataField="Task_Subject"
    [width]="190"
    caption="Subject"
    [hidingPriority]="8"
  >
  </dxi-column>
  <dxi-column dataField="Task_Status" caption="Status" [hidingPriority]="6">
  </dxi-column>
  <dxi-column dataField="Task_Priority" caption="Priority" [hidingPriority]="5">
    <dxo-lookup [dataSource]="priority" valueExpr="value" displayExpr="name">
    </dxo-lookup>
  </dxi-column>
  <dxi-column
    dataField="ResponsibleEmployee.Employee_Full_Name"
    caption="Assigned To"
    [allowSorting]="false"
    [hidingPriority]="7"
  >
  </dxi-column>
  <dxi-column
    dataField="Task_Start_Date"
    caption="Start Date"
    dataType="date"
    [hidingPriority]="3"
  >
  </dxi-column>
  <dxi-column
    dataField="Task_Due_Date"
    caption="Due Date"
    dataType="date"
    [hidingPriority]="4"
  >
  </dxi-column>
  <dxi-column
    dataField="Task_Priority"
    caption="Priority"
    name="Priority"
    [hidingPriority]="1"
  >
  </dxi-column>
  <dxi-column
    dataField="Task_Completion"
    caption="Completion"
    [hidingPriority]="0"
  >
  </dxi-column>
</dx-data-grid>
